.page {
  margin: 0 auto;
  padding: 45px 0 60px;
  box-sizing: border-box;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  width: 1280px;
  height: 1217px;
  background-color: #000000;
  border: 1px solid red;
}
