.gallery__suffix {
  /* align-self: flex-end; */
  /* margin-left: 20px; */
  cursor: pointer;
}

.gallery__suffix:hover {
  opacity: 0.5;
}

.gallery__suffix:active {
  background-image: url(../../../image/vector/Unionvector.svg);
}
