.gallery__suffix {
  background-image: url(../../../image/vector/Suffix.svg);
  height: 25px;
  width: 30px;
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  cursor: pointer;
}

.gallery__suffix:hover {
  opacity: 0.5;
}

.gallery__suffix:active {
  background-image: url(../../../image/vector/Unionvector.svg);
}
