.profile {
  display: flex;
  width: 100%;
  /* height: 120px; */
  /* border: 1px solid red; */
  padding-bottom: 50px;
  padding-top: 40px;
  align-items: center;
  position: relative;
}

@media (max-width: 767px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 282px;
    margin: auto;
    padding-top: 42px;
    padding-bottom: 36px;
  }
}
