.popup__item {
  height: 27px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup__item:last-of-type {
  margin-bottom: 48px;
}

@media (max-width: 767px) {
  .popup__item {
    margin-bottom: 30px;
  }
  .popup__item:last-of-type {
    margin-bottom: 45px;
  }
}
