.popup__toggle {
  margin-right: -75px;
  margin-top: -85px;
  width: 45px;
  height: 45px;
  position: absolute;
  align-self: flex-end;
  background-color: black;
  border: none;
  padding: 0;
  background: transparent;
  background-position: center;
  background-image: url(../../../image/vector/toggle.svg);
}

.popup__toggle:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 767px) {
  .popup__toggle {
    height: 26px;
    margin-right: -26px;
  }
}
