.popup__toggle {
  margin-right: -75px;
  margin-top: -70px;
  width: 40px;
  position: absolute;
  align-self: flex-end;
}

.popup__toggle:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 767px) {
  .popup__toggle {
    height: 26px;
    margin-right: -245px;
  }
}
